<#import "template.ftl" as layout>
<@layout.mainLayout active='account' bodyClass='user'; section>

    <div class="row">
        <div class="col-md-10">
            <h2>${msg("editAccountHtmlTitle")}</h2>
        </div>
        <div class="col-md-2 subtitle">
            <span class="subtitle"><span class="required">*</span> ${msg("requiredFields")}</span>
        </div>
    </div>

    <form action="${url.accountUrl}" class="form-horizontal" method="post">

        <input type="hidden" id="stateChecker" name="stateChecker" value="${stateChecker}">
        
        <#if !realm.registrationEmailAsUsername>
            <div class="form-group ${messagesPerField.printIfExists('username','has-error')}">
                <div class="col-sm-2 col-md-2">
                    <label for="username" class="control-label">${msg("username")}</label> <#if realm.editUsernameAllowed><span class="required">*</span></#if>
                </div>

                <div class="col-sm-10 col-md-10">
                    <input type="text" class="form-control" id="username" name="username" <#if !realm.editUsernameAllowed>disabled="disabled"</#if> value="${(account.username!'')}"/>
                </div>
            </div>
        </#if>
        <!--
        <div class="form-group ${messagesPerField.printIfExists('email','has-error')}">
            <div class="col-sm-2 col-md-2">
            <label for="email" class="control-label">${msg("email")}</label> <span class="required">*</span>
            </div>

            <div class="col-sm-10 col-md-10">
                <input type="text" class="form-control" id="email" name="email" autofocus value="${(account.email!'')}"/>
            </div>
        </div>

        <div class="form-group ${messagesPerField.printIfExists('firstName','has-error')}">
            <div class="col-sm-2 col-md-2">
                <label for="firstName" class="control-label">${msg("firstName")}</label> <span class="required">*</span>
            </div>

            <div class="col-sm-10 col-md-10">
                <input type="text" class="form-control" id="firstName" name="firstName" value="${(account.firstName!'')}"/>
            </div>
        </div>

        <div class="form-group ${messagesPerField.printIfExists('lastName','has-error')}">
            <div class="col-sm-2 col-md-2">
                <label for="lastName" class="control-label">${msg("lastName")}</label> <span class="required">*</span>
            </div>

            <div class="col-sm-10 col-md-10">
                <input type="text" class="form-control" id="lastName" name="lastName" value="${(account.lastName!'')}"/>
            </div>
        </div>
        -->

        

<div class="form-group">
    <div class="col-sm-2 col-md-2">
        <label for="user.attributes.birthdate" class="control-label">${msg("Gecad_Birthdate")}</label>
    </div>
 
    <div class="col-sm-10 col-md-10">
        <label type="text" class="form-control" id="user.attributes.birthdate" name="user.attributes.birthdate">
            ${(account.attributes.birthdate!'')}
        </label>
    </div>
 </div>

 <div class="form-group">
    <div class="col-sm-2 col-md-2">
        <label  class="control-label">${msg("Gecad_Gender")}</label>
    </div>
 
    <div class="col-sm-10 col-md-10">
        <#if account.attributes.gender=="male">
        <label type="text" class="form-control" id="user.attributes.gender_1" name="user.attributes.gender_1">            
            ${msg("Gecad_male")}
        </label>
        </#if>
        <#if account.attributes.gender=="female">
        <label type="text" class="form-control" id="user.attributes.gender_1" name="user.attributes.gender_1">            
            ${msg("Gecad_female")}
        </label>
        </#if>
    </div>
 </div>



 <div class="form-group">
    <div class="col-sm-2 col-md-2">
        <label  class="control-label">${msg("CURRENT_LANG")}</label>
    </div>
 
    <div class="col-sm-10 col-md-10">
        <#if account.attributes.lingua=="pt">
        <label type="text" class="form-control" id="user.attributes.lingua_1" name="user.attributes.lingua_1">            
            ${msg("LINGUA_PT")}
        </label>
        </#if>
        <#if account.attributes.lingua=="en">
        <label type="text" class="form-control" id="user.attributes.lingua_1" name="user.attributes.lingua_1">            
            ${msg("LINGUA_EN")}
        </label>
        </#if>
    </div>
 </div>


 <div class="form-group">
    <div class="col-sm-2 col-md-2">
       <label for="user.attributes.lingua" class="control-label">${msg("CHANGE_LANG")}:</label>       
   </div>
   <div class="col-sm-10 col-md-10"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="radio"  id="user.attributes.lingua_pt" name="user.attributes.lingua" value="pt" checked="checked"> ${msg("LINGUA_PT")} &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="radio"  id="user.attributes.lingua_en" name="user.attributes.lingua" value="en"> ${msg("LINGUA_EN")}<br>  
  </div>
</div>
 







        <div class="form-group">
            <div id="kc-form-buttons" class="col-md-offset-2 col-md-10 submit">
                <div class="">
                    <#if url.referrerURI??><a href="${url.referrerURI}">${kcSanitize(msg("backToApplication")?no_esc)}</a></#if>
                    <button type="submit" class="${properties.kcButtonClass!} ${properties.kcButtonPrimaryClass!} ${properties.kcButtonLargeClass!}" name="submitAction" value="Save">${msg("doSave")}</button>
                    <button type="submit" class="${properties.kcButtonClass!} ${properties.kcButtonDefaultClass!} ${properties.kcButtonLargeClass!}" name="submitAction" value="Cancel">${msg("doCancel")}</button>
                </div>
            </div>
        </div>
    </form>

    <h1>${msg("RETURN_TO")}: <a href="https://gonogoapp.org/login">gonogoapp.org</a> </h1>
    

</@layout.mainLayout>



